@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
body{

    background-color: black;
   
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-around;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav svg {
    color: red;
    width: 130px;
    position: relative;
    z-index: 1000;
}

.btn>:nth-last-child(1)
{
    background-color:red;
    padding:5px 20px;
    color:white;
    border: 2px solid white;
    border-radius: 7px;

}

.btn>:nth-last-child(2)
{
    background-color:black;
    padding:5px 20px;
    margin: 5px;
    color:white;
    border:2px solid white;
    border-radius: 7px;


}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23px;
  
}

.hero span p{
    font-size: 30px;
}


.separation{
    background-color: grey;
    height: 7px;
    position: relative;
    z-index: 10;
}

.first .secText{
    color: white;
    align-content: center;
   
   
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 95vw;
    gap: 30px;

}

.secVideo {
    display: flex;
    position: absolute;
    height: auto;
    justify-content: end;
    align-items: end;

    margin-right: 58px;
    margin-bottom: 22px;
}
 
.secVideo video{

    width: 285px;


}

.secImg img{
    width:400px;
    position:relative;
    z-index:10;

}

.first :first-child{
  
    font-size: 48px;
    font-weight: bold;
    
}

.first :nth-child(2){
  font-size: 22px;
}
.first{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;

}

.third{

    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third .secText{
    width:40vw;
    

}

.fourth{

    height: 80vh;
    padding-left: 250px;
    display: flex;
    justify-content: flex-start;
}

.fourth .secText{
    width:30vw;

}

.third .secText:nth-child(2){
    font-size: 32px;
}

.fifth{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding-top:50px ;
    padding-bottom: 50px;
}

.fifth .box{

    display: flex;
    flex-direction: column;
    gap:10px;
}

.box .box1{
    width: 70vw;
    margin: auto;
    height: 80px;
    background-color: rgb(52, 52, 52);
    color: white;
    font-size: 24px;
    font-weight: 400;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2{

    color: white;
}

.again{

    position: relative;
    z-index: 10;
    padding: 100px;


}

.again,.btn input{
    font-weight: bold;
}

.sixth{

    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sixth .grid{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 10px; 

}

.grid,.sixth a{
  color: bisque;
}

@media screen and (max-width:939px){
    .hero{
       
        font-size: 16px;
    }

    .first
    {
        font-size: 16px;
    }
}